body {margin:0;

}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.topnav {
  font-family: 'New Rocker', cursive;
  background-color: #1E0C07;
  position: absolute; 
  width: 100%;
  top: 0;
 box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}
.topnav a.logo {
  background-color: #1E0C07;
  padding: 5px 20px;
}
.topnav a.logo img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.topnav a.icon {
  padding-top: 26px;
}
.topnav a.logo:hover {
  background-color: #1E0C07;
}

.topnav a {
  float: left;
  display: block;
  color: #dbdbdb;
  text-align: center;
  padding: 20px 17px;
  text-decoration: none;
  font-size: 26px;
  

  
}
.topnav a:hover {
  color:  #999999;
  transition: 0.5s;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;

}

.dropdown {
  background-color: #5A372C;
  color: white;
  float:right;
  text-align: center;
  
}

.dropdown .dropbtn {
  font-size: 26px;    
  border: none;
  outline: none;
  color: white;
  padding: 20px 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.5),
              0 16px 16px rgba(0,0,0,0.12);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5A372C;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.5),
              0 16px 16px rgba(0,0,0,0.12);
}

.dropdown-content p {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
}

.dropdown:hover .dropbtn:hover {
  background-color: #35130C;
  color: #999999;
  transition: 0.3s;
}

.dropdown-content a:hover {
  background-color: #35130C;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1050px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

}

@media screen and (max-width: 1050px) {
  .topnav.responsive {position: absolute;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.column{
  float:left;
  width:25%
}
.column img{
}
.gallery{
  padding-top:100px;

}
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  #myImg{
    width:100%;
  }
}

}








